/.project
/bin/
/Libs/
/.settings/
/.classpath
.svn/
/bin/
.classpath
.project
.settings/
bin/lib/
Libs/
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
Libs/TempTestCase*.groovy
Libs/TempTempCase*.groovy
Libs/TempTestSuite*.groovy
Reports
settings/internal/com.kms.katalon.integration.analytics.properties
settings/internal/com.kms.katalon.integration.jira.properties
.pdf
*.pdf*
*.xml
*.log
> .project
*.png
images/*.tif
*.csv
*.xlsx
*.xls
*.tif
*.png
*.jpg
*.meta
.svn/
.jar